@model DoxFlorisMVCWeb.Models.Speedrun

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Speedrun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="snelheid" class="control-label"></label>
                <input asp-for="snelheid" class="form-control" />
                <span asp-validation-for="snelheid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plank" class="control-label"></label>
                <input asp-for="plank" class="form-control" />
                <span asp-validation-for="plank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zeil" class="control-label"></label>
                <input asp-for="zeil" class="form-control" />
                <span asp-validation-for="zeil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lidId" class="control-label"></label>
                <select asp-for="lidId" class ="form-control" asp-items="ViewBag.lidId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
