@model DoxFlorisMVCWeb.ViewModels.CreateLidViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lid.voornaam" class="control-label"></label>
                <input asp-for="Lid.voornaam" class="form-control" />
                <span asp-validation-for="Lid.voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.achternaam" class="control-label"></label>
                <input asp-for="Lid.achternaam" class="form-control" />
                <span asp-validation-for="Lid.achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.geboortedatum" class="control-label"></label>
                <input asp-for="Lid.geboortedatum" class="form-control" />
                <span asp-validation-for="Lid.geboortedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.straat" class="control-label"></label>
                <input asp-for="Lid.straat" class="form-control" />
                <span asp-validation-for="Lid.straat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.huisnummer" class="control-label"></label>
                <input asp-for="Lid.huisnummer" class="form-control" />
                <span asp-validation-for="Lid.huisnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.postcode" class="control-label"></label>
                <input asp-for="Lid.postcode" class="form-control" />
                <span asp-validation-for="Lid.postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.land" class="control-label"></label>
                <input asp-for="Lid.land" class="form-control" />
                <span asp-validation-for="Lid.land" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.email" class="control-label"></label>
                <input asp-for="Lid.email" class="form-control" />
                <span asp-validation-for="Lid.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid.telefoon" class="control-label"></label>
                <input asp-for="Lid.telefoon" class="form-control" />
                <span asp-validation-for="Lid.telefoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
